<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
  .bottom-three {
     margin-bottom: 1.5cm;
   }
  .bottom-small {
     margin-bottom: 0.2cm;
   }
  
</style>
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  
  <article>
    <h1>{{ page.title }}</h1>
    {{ content }} <!--github content-->
    <div class="article-wrap">
    
    <p align="center" ><img src="{{ site.url }}/images/CV/study2.png" alt="Education" width="70" height="70"></p>
    <h3 align="center" class=bottom-small>Education</h3>
    <p align="center">&#8226 <strong>Senior undergraduate</strong>, majoring in Information Technology at <a href="http://www.nitp.ac.in/php/home.php" target="_blank"><strong>NIT Patna</strong></a> (2017*).</p>
    <p align="center">&#8226 Received Higher Secondary Certificate (<strong>HSC</strong>) from <a href="http://www.nitp.ac.in/php/home.php" target="_blank"><strong>CBSE</strong></a> in 2012.</p>
    <p align="center" class="bottom-three">&#8226 Received Secondary School Leaving Certificate (<strong>SSLC</strong>) from <a href="http://www.nitp.ac.in/php/home.php" target="_blank"><strong>CBSE</strong></a> in 2010.</p>
      
      
    <p align="center" ><img src="{{ site.url }}/images/CV/business.png" alt="Work Experience" width="70" height="70"></p>
    <h3 align="center" class=bottom-small>Work Experience and Offers</h3>
    <p align="center">&#8226 Recieved 6-months internship offer from <a href="http://www.amazon.in/" target="_blank"><strong>Amazon.com</strong></a>.</p>
    <p align="center">&#8226 Recieved full-time offer from <a href="https://cloud.oracle.com/home" target="_blank"><strong>Oracle Cloud</strong></a>.</p>  
    <p align="center">&#8226 Completed internship at <a href="http://www.iitb.ac.in/" target="_blank"><strong>IIT Bombay</strong></a> in summer'16.</p>
    <p align="center" class="bottom-three">&#8226 Completed internship at <a href="http://www.mnnit.ac.in/" target="_blank">MNNIT Allahabad</a> in summer' 15.</p>

  
    <p align="center" ><img src="{{ site.url }}/images/CV/computer2.png" alt="Technical Skills" width="80" height="80"></p>
    <h3 align="center" class=bottom-small>Technical Skills</h3>
    <p align="center">&#8226 Give me the <strong>STL</strong> library and a <strong>VCS</strong> repository on which to store the <strong>C++</strong> code, and I shall move the world. Or was it about levers? &#12484;</p>
    <p align="center">&#8226 I use <strong>Matlab</strong> and <strong>Python</strong> for fast prototyping and testing.</p>
    <p align="center">&#8226 I cannot sleep at night if I have not committed my code or if I have not done enough <strong>unit tests</strong>.</p>
    <p align="center" class="bottom-three">&#8226 I <a href="http://goo.gl/XbK9qN" target="_blank">build</a> <a href="https://goo.gl/mVYQc1" target="_blank">awesome</a> <a href="http://goo.gl/znGIVM" target="_blank">websites</a> using <strong>Javascript</strong>, <strong>PHP</strong>, <strong>MySQL</strong>, and <strong>D3.js</strong>.</p>

    
   
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
